.TodoList {
  width: 600px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  outline: 1px solid black;
}

.TodoList__text {
  margin-top: 5px;
}
